@media (min-width: 600px) {
  body {
    width:600px;
    margin:auto;
    padding-top:30px;
    padding-bottom:30px;
  }
}

.right {
  float: right;
}

body {
    font-family: "Verdana", Geneva, sans-serif;
}