<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ page.title }} by Roger Kirkness</title>
	<meta name="description" content="Roger Kirkness" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="preconnect" href="https://buy.stripe.com">
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<nav class="nav">
		<ul class="menu">
			<li><a href="https://rogerkirkness.com/">My writing</a></li>
			<li><a href="https://rogerkirkness.com/archive">Archive</a></li>
			<li><a target="_blank" rel="noopener" href="https://convictional.com">My company</a></li>
			<li><a href="mailto:codes-casual0e@icloud.com">Email me</a></li>
		</ul>
	</nav>
	<main>
		{{ content }}
	</main>
</body>

<script>
  if('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/sw.js')
    })
  }
</script>

</html>
