<!DOCTYPE html>
<html lang="en">
<head>
	<title>Roger Kirkness</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
	<style>
		@media (min-width: 600px) {
		  .container {
		    width:600px;
		    margin:auto;
		    padding-top:20px;
		    padding-bottom:20px;
		  }
		}
		.right {
		  float: right;
		}
		html {
		  color: #222222;
		}
		body {
		  line-height: 1.6;
		  font-family: sans-serif;
		}
		nav {
			position: sticky;
			float: left;
			top: 0px;
		}
		ul{ 
		  list-style-type: none;
		}
	</style>
</head>
<body>
	<nav class="nav">
		<ul>
			<li>
				<a href="/about">ABOUT</a>
			</li>
			<li>
				<a href="/work">WORK</a>
			</li>
			<li>
				<a href="/family">FAMILY</a>
			</li>
			<li>
				<a href="/">WRITING</a>
			</li>
			<li>
				<a href="https://docs.google.com/spreadsheets/d/1p8F9J2mziGSeuGS03KSrfdU9vbjFh1HmzGF4HOhZ-CU/edit?usp=sharing">READING</a>
			</li>
		</ul>
	</nav>
	<div class="container">
		{{ content }}
	</div>
</body>
</html>
