---
layout: default
---
<b>{{ page.title }}</b>
<b class="right">{{ page.date | date: "%B %Y"}} &bull; {{ content | reading_time_as_i }} </b>
{{ content }}
<div class="pagination">
  <div class="right">
      {% if page.previous.url %}
      <a style="text-decoration: none;" href="{{page.previous.url}}">&laquo; Previous</a>
    {% endif %}
    &nbsp;&bull;&nbsp;
    {% if page.next.url %}
      <a style="text-decoration: none;" href="{{page.next.url}}">Next &raquo;</a>
    {% endif %}
  </div>
</div>
