---
layout: default
---
<div class="container">
    <b>{{ page.title }}</b>
    <b class="right"><a href="{{ page.pdf_url }}">PDF</a> | {{ page.date | date: "%B %Y"}}</b>
    <hr>
    {{ content }}
    <hr>
    <div class="pagination">
      {% if page.previous.url %}
        <a href="https://rogerkirkness.com{{page.previous.url}}"><b>Previous</b></a>
      {% endif %}
      {% if page.next.url %}
        <a class="right" href="https://rogerkirkness.com{{page.next.url}}"><b>Next</b></a>
      {% endif %}
    </div>
</div>

